{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
</head>
<body>
<div>
    <span>
        <h1  style="font-style:Serif;color:lightgreen;">BlogConn</h1>
    <p style="font-style:Serif; "> &copy; a Sanman production</p>
    </span>
    <a href="/profile_user" style="border:2px solid;float:right;background-color:red;color:white;border-color:black"><b>Back to Profile</b></a>
</div>
<br><br><br>
<h1 style="font-size:50px;">Under Development</h1>
<h1 style="font-size:50px;">Coming Soon...</h1>
<img src="{% static 'C:\Users\Dell\OneDrive\Documents\projects\blogconn\blogconnect\static\under_maintenance.png' %}" style="width:100%;height:100%;">
</body>
</html>